
form {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
input {
    padding: .5rem;
    margin: .1rem;
    width: 10rem;
    height: 2.4rem;
}

.btn-add-user {
    padding: .4rem;
    background-color: rgb(214, 14, 57);
    color: white;
    border: none;
    width: 7rem;
    cursor: pointer;
    height: 2.4rem;
    border-radius: 3px;
    font-family: 'Montserrat';
}

.btn-add-user:hover {
    background-color: rgb(165, 36, 64);
    transform: translateY(-.1rem);
    

}

.warning {
    color: red;
}

@media screen and (max-width: 500px) {
    form {
        flex-wrap: wrap;
        padding: 1rem;
    }

    .btn-add-user {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 320px) {
    input {
        width: 8rem;
    }

  
}