.user-container {
    display: grid;
    grid-template-columns: 5% 19% 19% 18% 18% 7.66% 7.66% 7.66%;
    align-items: center;
    justify-items: center;
    padding: 1rem;
    margin: .2rem;
    color: rgb(243, 227, 227);
    background-image: linear-gradient(to left, #8ccfd1 0%, #2b81d1 100%);
    font-weight: 500;
    padding: 1rem 4rem;
    width: 80rem;
}

.avatar {
    width: 70%;
}


.btn-delete,
.btn-score {
    padding: .7rem;
    margin: .3rem;
    background: rgb(81, 136, 208);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: white;
    height: 3rem;
    width: 3rem;
}

.btn-score-minus {
    padding: .8rem;
}

.fa-trash-alt {
    color: white;
    font-size: 24px;
}

.btn-score:hover,
.btn-delete:hover {
    transform: scale(1.1);
    transition: all .1s ease-in-out;
}

.fa-trash-alt:hover {
    color: rgb(223, 77, 77);

}

.btn-score-plus:hover {
    background-color: rgb(76, 235, 168);

}

.btn-score-minus:hover {
    background-color: rgb(228, 98, 98);

}